
.ipynb_checkpoints/requiriments-checkpoint.txt
notebooks/.ipynb_checkpoints/cleaning_preparation-checkpoint.ipynb
notebooks/.ipynb_checkpoints/eda-checkpoint.ipynb
notebooks/.ipynb_checkpoints/complete-checkpoint.ipynb
